/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
@import "compass";

/* fonts */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(storyicofont.css);

/* Colors */

$bgDark: #2C3E50;
$bgDarker: #2E3641;
$bgDarkest: #232A32;
$bgLighter: #3F4A59;
$bgLightest: #34495E;
$border: 2px solid #E0E0E0;
$boxShadow: -1px 5px 5px rgba(0, 0, 0, 0.2);
$darkBorder: 4px solid rgba(255, 255, 255, 0.1);
$darkBorderSmall: 1px solid rgba(255, 255, 255, 0.1);
$fgBlack: #404040;
$fgGrey: #737373;
$green: #1ABC9C;
$greenDarker: #149077;
$greenLighter: #1FF2AF;
$pageBg: #F1AC5F;
$topBarH: 60px;

a.taglib-icon:focus .taglib-text, 
a.taglib-icon:hover .taglib-text {
	text-decoration: none;
}

body {
	background-attachment: scroll;
	background-color: $pageBg;
	background-image: url('../images/background.jpg');
	background-position: left top;
	background-repeat: repeat;

	&.dialog-iframe-popup {
		background: #FFF;
	}
}

html {
	height: 100%;
}

/* ID Selectors */

#banner {
	background-color: $bgDarker;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $topBarH;
	z-index: 655;

	@include box-shadow($boxShadow);

	#heading {
		color: #FFF;
		float: left;
		height: $topBarH;
		text-shadow: #000 1px 1px 2px;

		h1 {
			font-size: 32px;
			font-family: 'Yesteryear', script;
			line-height: $topBarH;
			margin: 0 20px;
		}

		img {
			display: none;
		}
	}

	/* Dropdown Navigation Menu */

	#navigation {
		float: right;

		.delete-tab {
			display: none;
		}

		> ul {
			display: inline-table;
			list-style: none;
			margin: 0 25px 10px;

			> li {
				float: left;
				height: $topBarH;
				line-height: $topBarH;
				padding: 0 10px;

				/* Keep last menu from going off screen */
				&:last-child ul {
					left: auto;
					right: 0;
				}
			}

			ul {
				display: none;
				position: absolute;

				> li {
					height: 100%;
					margin: 0;
					width: 100%;
				}
			}

			li:hover {
				background-color: $bgLighter;

				ul {
					display: block;
					position: absolute;
				}
			}
		}

		.selected > a {
			color: $green;
		}

		a {
			color: #FFF;
		}
	}
}

#content {
	background-color: #FFF;
	margin: 100px auto 40px;
	max-width: 1145px;

	#main-content {
		@include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));

		> .row-fluid {
			background-color: #FFF;
		}
	}
}

#footer {
	clear: both;
	margin: 2em 2em;
}

#heading { 
	color: #FFF;
	text-shadow: #000 1px 1px 2px;
}

#sign-in {
	color: #FFF;
	float: left;
	line-height: 60px;
}

#wrapper {
	padding: 0em 0em 0em;
}

/* class selectors */

.aui {
	a {
		color: #000;

		&:hover, &:focus {
			color: $greenDarker;
			text-decoration: none;
		};
	}

	body {
		background-color: $pageBg;
		color: $fgGrey;
		font-size: 14px;
		font-family: 'Source Sans Pro', sans-serif;
		min-height: 100%;

		&.dialog-iframe-popup {
			background-color: #FFF;
		}
	}

	h1, h2, h3, h4 {
		font-family: 'Bitter', serif;
		font-weight: 400;
	}

	input[type="text"] {
		border: $border;

		@include border-radius(5px);

		&:focus {
			border-color: $green;

			@include box-shadow(none);
		}
	}

	select {
		border: $border;
	}

	textarea {
		border: 2px solid #E0E0E0;

		&:focus {
			border-color: $green;

			@include box-shadow(none);
		}
	}

	.alert {
		background-color: $greenLighter;
		border-color: $greenDarker;
		color: #000;
		text-shadow: none;
	}

	.badge {
		background-color: $bgDarker;
	}

	.breadcrumb {
		background: $greenDarker;

		@include border-radius(0px);
		@include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));

		display: none;

		a, li {
			color: #FFF;
			text-shadow: none;
		}
	}

	.btn {
		background-image: none;

		@include box-shadow(0px -1px 0 0 #000 inset);
		@include transition(all 200ms ease-in-out 0s);

	}

	.btn-link {
		color: $green;

		&:hover {
			color: $greenDarker;
		}
	}

	.btn-primary {
		background-color: $bgDarker;

		&:hover, &:focus {
			background-color: $green;
		}
	}

	.dockbar .navbar-inner .site-administration-menu li a {
		color: #FFF;

		&:hover, &:focus {
			background-color: $bgLighter;
		}
	}

	.dockbar.navbar-static-top .collapse {
		max-height: 8px;
	}

	.dropdown-menu {
		background: $bgDarker;
		border-top: 4px solid $green;
		border-width: 4px 0 0;

		@include border-radius(0px);

		margin: 0;
		padding: 0;

		> li > a {
			color: #FFF;

			&:hover, &:focus {
				background-color: $bgLighter;
				background-image: none;
			}
		}

		.active > a {
			background-color: $green;
			background-image: none;

			&:hover, &:focus {
				background-color: $greenDarker;
				background-image: none;
			}
		}
	}

	.dropdown-submenu > a {
		color: #FFF;
		
		&:hover, &:focus {
			background-color: $bgLighter;
			background-image: none;
		}
	}

	.navbar-inner {
		background-color: $bgDarker;
		background-image: none;
		border: none;
	}

	.open .dropdown-toggle {
		background-color: $bgDarker;
	}

	.nav-list > .active > a {
		&, &:focus, &:hover {
			background-color: $green;
		}
	}

	.nav-pills > .active > a {
		background-color: $green;

		&:focus, &:hover {
			background-color: $greenLighter;
		}
	}

	.nav.nav-add-controls {
		margin-top: 200px;
		position: fixed;
		top: 0;
		width: 40px;

		@include box-shadow($boxShadow);

		li {
			background-color: $bgDarker;
			float: none;
			position: relative;
			

			i {
				color: #FFF;
				height: 20px;
				width: 20px;

				&:hover {
					color: $green;
				}
			}

			.nav-item-label {
				display: none;
			}
		}
	}

	.navbar {
		img {
			max-height: 16px;
		}

		.divider-vertical {
			display: none;
		}

		.nav {

			> li {
				&.dropdown {
					&.active, &.active.open, &.open {
						> .dropdown-toggle {
							background-color: $bgLighter;
							color: $green;
						}
					}
				}

				> .dropdown-menu {
					&:after, &:before {
						display: none;
					}
				}

				> a {
					color: #FFF;
					text-shadow: none;

					&:focus, &:hover {
						color: $green;
					}
				}
			}

			> .active > a {
				background-color: $bgDark;
				color: #FFF;

				&:hover {
					background-color: $bgLighter;
					color: #FFF;
				}
			}
		}
	}

	/* Cropping Dockbar for overlapping #navigation */

	.navbar.navbar-static-top.dockbar {
		@include box-shadow(none);

		float: left;
		height: 60px;
		left: auto;
		position: relative;
		z-index: 656;

		.container {
			height: $topBarH;
		}

		.nav {
			> li {
				height: $topBarH;
				padding: 0;

				> a {
					line-height: $topBarH;
					padding: 0 10px;
				}
			}
		}

		.navbar-inner {
			@include box-shadow(none);
		}
	}

	.page-title {
		display: none;
	}

	.portlet-borderless-bar .portlet-options .dropdown-toggle {
		background-image: url('../images/portlet/options_borderless.png');
	}

	.tab-content > .active {
		padding: 0 20px;
	}
}

.modify-pages .delete-tab {
	padding: 3px 6px;
	text-shadow: none;
}

.navbar .container .btn-navbar:hover {
	color: $green;
}

.panel-page-menu {
	margin-top: 15px;
}

.portlet {
	background: #FFF;
	margin: 0;
}

.portlet-blogs.portlet-boundary {
	padding: 0;

	img {
		display: none;
	}

	.edit-actions {
		margin: 0 0 15px;
	}

	.entry {
		padding: 0 15px;
	}

	.entry-content {
		text-align: center;

		.entry-date {
			background: none;
			font-size: 10pt;
			font-weight: 400;
			margin-bottom: 15px;
			padding-left: 0;

			&:after {
				background: url('../images/separator.png') repeat-x scroll 0 50% transparent;
				color: $green;
				content: "\e801";
				display: block;
				font-family: 'storyicofont';
				font-size: 12pt;
				margin: auto;
				width: 150px;
			}
		}
	}

	.entry-navigation {
		border-width: 0;
		padding: 20px 0;

		.next {
			background: none;
			
			&:after {
				content: "\e80E";
				font-family: "storyicofont";
				font-size: 8pt;
				padding-left: 5px;
				vertical-align: middle;
			}
		}

		.previous {
			background: none;
			
			&:before {
				content: "\e80D";
				font-family: "storyicofont";
				font-size: 8pt;
				padding-right: 5px;
				vertical-align: middle;
			}
		}
	}

	.entry-title {
		padding: 0 15px;
	}

	.navbar {
		display: none;
		margin: 0 15px 20px;
	}

	.portlet-content {
		padding: 12px 0 10px;
	}

	.subscribe {
		padding: 0 15px;
	}
}

.portlet-borderless {
	background: #FFF;
}

.portlet-borderless-bar {
	text-shadow: none;
}

.portlet-boundary {
	margin-bottom: 0;
	padding: 15px;

	&:last-child {
		border-bottom: none;
	}
}

.portlet-dockbar {
	padding: 0;
}

.portlet-journal .journal-article-header-edit {
	border-width: 1px;
}

.portlet-layout {
	margin-top: 0;
}

.portlet-title {
	background-color: #FFF;
	padding-left: 15px;
}

.portlet-title-text {
	color: $fgBlack;
	font-size: 16px;
}

.portlet-topper {
	z-index: 5;

	.portlet-topper-toolbar a i {
		color: $fgGrey;
	}
}

.powered-by {
	margin-top: 15px;
	color: #FFF;
	text-align: center;
	text-shadow: #000 1px 1px 2px;

	a {
		color: $greenLighter;
	}
}

.separator {
	border-top: 6px $green solid;
}

.taglib-categorization-filter .asset-entry {
	background-color: $green;
	border-color: $greenDarker;
}

.taglib-header {
	border-width: 0;

	.header-title {
		text-align: center;
	}

	.header-back-to {
		float: none;
		padding-left: 15px;
		position: absolute;
		top: -35px;
	}
}

.taglib-icon img {
	display: inline;
}

.taglib-ratings {
	display: none;
}

.taglib-social-bookmarks {
	background: #FFF;;
}

/* Size specific styles */

/* Dark Sidebar Layout, requires a wider display */
@media (min-width: 768px) {
	.aui {
		.portlet-layout.row-fluid [class*="span"] {
			display: table-cell;
			float: none;
		}

		.row-fluid {

			/* Fix 1px white border in chrome */
			&:after, &:before {
				content: none;
			}

			/* Set whole number percent width for various column layouts */
			.span4 {
				width: 30%;
			}
			.span6 {
				width: 50%;
			}
			.span8 {
				width: 70%;
			}
		}
	}

	.portlet-layout {
		display: table;
	}

	/* Light Background */

	.portlet-column {
		background-color: #FFF;
		float: none;
		margin: 0;
	}

	/* Dark Background */

	.portlet-column-last {
		background-color: $bgDark;
		color: #DDD;
		float: none;
		margin: 0;
		padding: 20px;
		vertical-align: top;

		a {
			color: $green;
		}

		input[type="text"] {
			background-color: $bgLightest;
			border-color: $bgLightest;

			@include box-shadow(none);
			
			color: #EEE;
		}

		table {
			tr:hover {
				background-color: $bgLighter;
			}

			.table-sorted {
				background-color: $green;

				a {
					color: #DDD;
				}
			}
		}

		.nav-tabs {
			border-bottom: 1px solid #BBB;

			> li > a {
				&:active, &:focus, &:hover {
					background-color: $bgLighter;
				}
			}

			> .active > a {
				border-color: #BBB #BBB transparent;
				color: #DDD;

				&:hover {
					background-color: $bgLighter;
				}
			}
		}

		.portlet {
			background-color: $bgDark;
		}

		.portlet-asset-categories-navigation,
		.portlet-asset-publisher,
		.portlet-asset-tags-navigation	 {

			img {
				display: none;
			}

			.accordion-group {
				border-width: 0;

				.accordion-heading {
					display: none;
				}

				.accordion-inner {
					border-width: 0;
					padding: 0;
				}

				.tree-normal {
					margin: 0;

					.tree-node {
						border-bottom: $darkBorderSmall;
						padding: 0 1px 0 0;

						&:last-child {
							border-width: 0;
						}
					}

					.tree-node-leaf {
						margin: 0;
						padding: 10px 0;

						.tree-label {
							margin-left: 0;
							padding: 0;

							span {
								padding-left: 0;
							}
						}
					}
				}

				.title-text {
					display: none;
				}
			}

			.asset-abstract {
				margin-bottom: 10px;
			}

			.asset-content {
				margin: 0;
			}

			.asset-title {
				border-bottom: $darkBorderSmall; 
			}

			&.portlet-boundary {
				margin: 0;
				padding: 0;
			}

			.portlet-content {
				padding: 0;
			}

			.portlet-title {
				margin: 0;
				padding: 0;
			}

			.title-list {
				li {
					border-bottom: $darkBorderSmall;
					padding: 10px 0;

					&:last-child {
						border-width: 0;
					}
				}
			}

		}

		.portlet-asset-tags-navigation .portlet-body {
			margin-bottom: 10px;
		}

		.portlet-blogs .entry-content .entry-date:after {
			background: url('../images/separator-dark.png') repeat-x scroll 0 50% transparent;
		}

		.portlet-boundary {
			background-color: $bgDark;
			border-bottom: $darkBorder;
			padding: 0 0 15px;

			&:last-child {
				border-bottom: none;
			}
		}

		.portlet-content {
			padding: 12px 0 10px;
		}

		.portlet-search {
			form {
				margin: 0;

				/* Green Magnifying Glass */
				&:after {
					background-color: $bgLightest;
					color: $green;
					content: "\e80B";
					display: inline-block;
					font-family: 'storyicofont';
					height: 22px;
					padding-left: 5px;
					position: relative;
					right: -87%;
					top: -29px;
					width: 10%;
				}
			}

			img {
				display: none;
			}

			input[type="image"] {
				display: none;
			}

			input[type="text"] {
				@include box-sizing(border-box);
				border-width: 0;
				color: #AAA;
				height: 36px;
				margin: 0;
				padding: 6px;
				width: 100%;
			}

			select {
				display: none;
			}

			.portlet-title {
				height: 10px;
				margin: 0;

				span {
					display: none;
				}
			}

			.portlet-body {
				width: 100%;
			}

			.result {
				padding: 15px;
			}
		}

		.portlet-title {
			background-color: $bgDark;
		}

		.portlet-title-text {
			color: #FFF;
		}

		.tab.active > a {
			background-color: $bgLighter;
		}

		.table-striped tbody > tr:nth-child(2n+1) > td {
			background-color: #777;

			a {
				color: #DDD;
			}
		}

		.table-striped tbody > tr:hover {
			background-color: #F00;
		}

		.taglib-categorization-filter.entry-title {
			color: #EEE;
		}

		.well {
			background-color: $bgDarkest;
			border-width: 0;
		}
	}
}

@media (max-width: 979px) {
	#banner > #navigation {
		display: none;
		float: right;
		
		a {
			padding: 0 10px;
		}

		&.open {
			display: block;
			position: absolute;
			right: 0;
		}

		> ul {
			background-color: $bgDarker;
			margin: 60px 0 0;

			@include box-shadow($boxShadow);

			> li {
				display: block;
				float: none;
				height: auto;
				padding: 0;
				width: 180px;

				&:hover {
					background-color: $bgLighter;
				}

				> a:hover {
					color: #DDD;
				}

				ul {
					background-color: $bgDarkest;

					li {
						padding: 10px 0;
					}
				}

				> ul {
					display: none;
				}

				&:hover > ul {
					@include box-shadow(none);
					height: auto;

					display: block;
					float: none;
					position: static;
				}
			}
		}
	}

	.aui {
		.dockbar .navbar-inner {
			padding-left: 0;
			padding-right: 0;

			.btn-navbar {
				margin-top: 11px;
			}
		}

		.navbar.navbar-static-top.dockbar {
			float: right;

			.nav {
				margin: 8px 0 0;

				> li {
					height: auto;
					width: 180px;
				}
			}

			.nav.nav-add-controls {
				margin: 60px 0 0;
			}
		}

		.nav-collapse {
			float: left;
			width: 100%;

			ul {
				background-color: $bgDarkest;
			}

			.dropdown-menu {
				border-width: 0;
				margin: 0;

				a {
					@include border-radius(0);

					color: #FFF;

					&:hover {
						background-color: $bgDark;
					}

					li a {
						margin-bottom: 0;
					}
				}

				li + li a {
					margin: 0;
				}
			}

			.nav {
				width: 100%;

				> li > a {
					@include border-radius(0);

					margin: 0;

					&:hover {
						background-color: $bgLighter;
					}
				}
			}

			.navbar-search {
				border: 0;
			}
		}

		.nav.nav-account-controls {
			@include box-shadow($boxShadow);
		}

		.nav.nav-add-controls {
			left: auto;
			margin: 60px 0 0;
			right: 0;
			width: auto;

			> li > a {
				text-align: center;

				.nav-item-label {
					display: inline;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	#content {
		margin: 100px 20px 15px 20px;
	}

	.aui {
		body {
			padding: 0;
		}

		.breadcrumb {
			display: block;
			margin: 0;
		}

		.navbar-static-top {
			margin-right: 0;
		}
	}

	.portlet-layout {
		background-color: #FFF;
	}
}