@import "compass";
@import "mixins";

@import url(custom_common.css);

$mainContentSpacing: 20px;

/* ---------- Common color variables ---------- */

$bgColor: #DADADA;
$textColor: #004461;
$textShadowColor1: #FFF;
$textShadowColor2: #333;

/* ---------- Set compass defaults ---------- */

$default-box-shadow-blur-offset: 6px;
$default-box-shadow-color: #999;
$default-box-shadow-h-offset: 0;
$default-box-shadow-spread: 1px;
$default-box-shadow-v-offset: 1px;

/* ---------- Global ---------- */

.aui {
	a {
		color: $textColor;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	body {
		background: $bgColor url(../images/custom/body_bg.png) repeat-x 0 0;
		font: 12px "Helvetica Neue", Helvetica, Arial, san-serif;
	}

	p {
		color: #666;
	}

	/* ---------- Dockbar ---------- */

	.dockbar-split .dockbar {
		.info-button {
			top: 9px;
		}

		.nav {
			> li {
				> .dropdown-menu {
					background-color: #333;
					border-width: 0;
					margin: 0;

					&:after, &:before {
						border-width: 0;
					}

					> li > a {
						color: #FFF;
					}
				}
			}

			> li.user-avatar > .dropdown-menu {
				left: auto;
				right: 0;
			}

			li.dropdown {
				&.active, &.active.open, &.open {
					> .dropdown-toggle {
						background-color: #333;
					}
				}
			}
		}

		.navbar-inner {
			.container .nav-collapse > .nav > li.open > a {
				color: #FFF;
			}

			.site-administration-menu li a {
				color: #FFF;
			}
		}

		.page-customization-bar .page-customization-bar-text {
			height: 44px;
		}
	}

	/* ---------- Wrapper ---------- */

	#wrapper {
		margin: 0 auto;
		padding: 0;
		position: relative;
		width: 1200px;
	}

	.signed-in {
		#wrapper {
			margin-top: 45px;
		}
	}

	/* ---------- Sign-In ---------- */

	#sign-in {
		color: #FFF;
		font-size: 12px;
		position: absolute;
		right: 125px;
		text-shadow: none;
		top: 5px;
	}

	/* ---------- Heading ---------- */

	#banner {
		background-color: #FFF;
		float: left;
		margin-top: -65px;
		padding-top: 44px;
		width: 100%;
	}

	#content {
		background-color: #FFF;
		clear: left;
		padding-left: $mainContentSpacing;
		padding-right: $mainContentSpacing;
	}

	#heading {
		float: left;
		margin-left: $mainContentSpacing;

		h1.site-title {
			margin: 0;
		}

		.logo {
			margin-right: 5px;
			vertical-align: text-top;
		}
	}

	/* ---------- Navigation ---------- */

	#navigation {
		float: right;
		margin-bottom: 0;

		&.navbar .nav {
			margin: 0;

			> li {
				background-color: #FFF;

				&:last-of-type > .dropdown-menu {
					left: auto;
					right: 0;
				}

				> .dropdown-menu {
					background-color: #333;
					border-width: 0;
					margin: 0;

					&:after {
						border-width: 0;
					}

					&:before {
						border-width: 0;
					}

					> li > a {
						color: #FFF;
						font-size: 13px;
						padding: 6px 15px;

						&:focus, &:hover {
							background-color: #252525;
						}
					}
				}

				> a {
					border-top: 5px solid #EEE;
					padding: 20px 25px;
				}

				&.active.hover > a {
					background-color: #FFF;
					border-top: 5px solid #EEE;
					color: #333;
				}

				&.hover > a {
					background-color: #333;
					border-top: 5px solid #2ECC40;
					color: #FFF;
				}

				> a:focus, > a:hover {
					background-color: #333;
					color: #FFF;
				}
			}
		}

		.navbar-inner {
			background-color: transparent;
			border-width: 0;
			padding: 0;
		}
	}

	/* ---------- Content ---------- */

	#content {
		clear: both;
		min-height: 600px;
	}

	.dialog #main-content {
		width: auto;
	}

	#main-content {
		margin: 0 auto;
		width: 960px;

		p img {
			padding: 10px;

			&.left {
				padding-left: 0;
			}

			&.right {
				padding-right: 0;
			}
		}
	}

	.columns-1-3-1 {
		.span4 {
			#layout-column_column-1 .journal-content-article, #layout-column_column-2 .journal-content-article, #layout-column_column-3 .journal-content-article {
				width: 302px;
			}
		}

		#column-1 {
			padding: 0 0 30px 0;
		}
	}

	.featured-text {
		height: 240px;
		margin-top: 0;
		padding: 0;

		.featured-content {
			height: 205px;
			overflow-y: auto;
			padding: 0 10px 10px 0;
		}

		p {
			color: #FFF;
		}
	}

	.columns-2-1-2 {
		#column-1 {
			.featured-text h3 {
				color: #FFF;
				font-size: 21px;
				font-style: italic;
				font-weight: normal;
				letter-spacing: 1px;
				text-transform: uppercase;
			}

			.lfr-icon-actions {
				margin-top: 23px;
			}
		}

		#column-2 {
			.featured-text h3 {
				color: #FFF;
				font-size: 21px;
				font-style: italic;
				font-weight: normal;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}
	}

	.page-content {
		.column {
			&.span4 {
				&.column-first {
					padding: 0 10px 0 0;
				}

				&.column-last {
					padding: 0 0 0 10px;
				}

				&.center {
					padding: 0 5px;
				}
			}

			&.span6 {
				&.column-first, &.column-last {
					padding: 0 20px 0 0;
				}
			}

			&.span12 {
				padding: 0;
			}
		}

		.divider {
			background: url(../images/custom/home_content_divs.png) 0 0 repeat-x;
			height: 8px;
			margin: 0 0 15px;
			width: 100%;
		}

		.portlet-column {
			padding: 0 5px;
		}
	}

	/* ---------- Footer ---------- */

	#footer {
		background: url(../images/custom/footer_bg.png) repeat-x 0 0;
		margin: -2px auto 0;
		padding: 30px 0;
		width: 1200px;

		p {
			background: url(../images/custom/footer_logo.png) no-repeat 0 0;
			height: 64px;
			margin: 0 auto;
			width: 64px;
		}

		.powered-by {
			text-indent: -9999px;
		}
	}

	/* ---------- Portlet max ---------- */

	.columns-max {
		.portlet span {
			color: #000;
		}

		.portlet-borderless-container .portlet-borderless-bar {
			display: none;
		}

		.portlet-boundary {
			background: $bgColor;
			padding: 10px;
		}

		.portlet-title {
			border-bottom: 2px solid #C8C9CA;
			color: $textColor;
			font-weight: normal;
			padding-top: 5px;
			text-decoration: none;
			text-transform: uppercase;
		}

		.portlet-topper-toolbar {
			a, a:visited {
				color: $textColor;
				text-decoration: none;
			}
		}
	}

	/* ---------- Custom classes ---------- */

	.left {
		float: left;
	}

	.right {
		float: right;
	}

	/* ---------- Web content ---------- */

	.pod {
		background: url(../images/custom/home_pod.png) no-repeat 0 0;
		height: 91px;
		padding: 11px 0 0;

		&:hover {
			background: url(../images/custom/home_pod.png) no-repeat 0 -103px;
			cursor: pointer;
		}

		a:hover {
			text-decoration: none;
		}

		&.button {
			background: url(../images/custom/pod_button.png) no-repeat 0 -109px;
			margin: 85px auto;
			width: 417px;

			&:hover {
				background: url(../images/custom/pod_button.png) no-repeat 0 0;
			}

			.pod-image {
				padding: 2px 0 0 15px;
			}

			.pod-text {
				padding: 0 5px 0 110px;
				width: 300px;

				h5 {
					color: #014E6E;
					font-size: 18px;
					font-style: normal;
					font-weight: bold;
					margin-top: 5px;
				}
			}
		}

		.divider {
			background: url(../images/custom/home_content_divs.png) repeat-x 0 0;
			height: 20px;
			margin: 33px -25px 0;
		}
	}

	.portlet-column-first {
		.column-text, .pod, .pod .divider {
			margin-left: 0;
		}
	}

	.pod-image {
		clear: both;
		float: left;
		height: 77px;
		padding-left: 15px;
	}

	.pod-text {
		color: #666;
		padding: 0 10px 10px 100px;
		width: 185px;

		h5 {
			color: $textColor;
			font-size: 16px;
			font-style: italic;
			font-weight: lighter;
			text-transform: uppercase;
		}

		p {
			color: #6F6F6F;
			font-weight: lighter;
			padding: 8px 0 0;
			width: 173px;
		}
	}

	.portlet-boundary {
		margin-bottom: 20px;
	}

	.media-row {
		.media {
			&:first-child {
				margin-top: 15px;
			}

			> .media-image.pull-left {
				margin-right: 25px;
				text-align: center;
			}

			> .media-image.pull-right {
				margin-left: 25px;
				text-align: center;
			}
		}
	}

	.media-image {
		width: 50px;

		i {
			color: #333;
			font-size: 50px;
		}
	}

	/* ---------- Columns ---------- */

	.column-text {
		margin-top: 33px;
		padding: 15px 2px 0 2px;
		width: 302px;
	}

	.innovation-title {
		color: $textColor;
		font-size: 26px;
		font-style: italic;
		font-weight: lighter;
		margin: 0 0 12px 0;
		padding-top: 25px;
		text-transform: uppercase;
	}

	.columns-2-custom #column-1 {
		height: 200px;
	}

	#column-2 #layout-column_column-2 {
		padding: 0 5px 0 0;
	}

	#column-3 #layout-column_column-3 {
		padding: 0 5px;
	}

	#column-4 {
		#layout-column_column-4 {
			padding: 0 0 0 10px;

			.divider {
				margin-left: -15px;
				margin-right: 0;
			}
		}
	}

	/* ------- Panels -------- */

	.zoe-panel {
		background-color: #FAFAFA;
		display: table-cell;
		padding: 60px 40px;
		text-align: center;
		vertical-align: middle;

		@include word-break(break-word);

		.zoe-panel-image {
			display: inline-block;
			margin-bottom: 24px;
			overflow: hidden;

			i {
				font-size: 90px;
			}
		}

		button {
			margin-top: 24px;
		}
	}

	.zoe-panel-post .row-fluid, .zoe-panel-post.row-fluid {
		@include box-sizing(border-box);

		padding: 0 120px;

		.zoe-panel {
			background: transparent;
			display: block;
			padding: 0;

			h3 {
				font-size: 36px;
				font-weight: 400;
				margin-bottom: 33px;
				margin-top: 0;
			}

			p {
				font-size: 20px;
				font-weight: 300;
				letter-spacing: 0.6px;
				line-height: 40px;
				text-align: left;
			}

			.btn {
				margin-top: 33px;
			}
		}
	}

	/* ---------- Internet explorer ---------- */

	.ie6 {
		#footer p {
			background-image: url(../images/custom/ie6/footer_logo.gif);
		}

		.pod {
			&.button {
				&, &:hover {
					background-image: url(../images/custom/ie6/pod_button.gif);

					.pod-text .description {
						clear: left;
						float: left;
						height: 50px;
						text-align: left;
						text-indent: -3px;
						white-space: pre;
					}
				}
			}

			.divider {
				background-image: url(../images/custom/ie6/home_content_divs.gif);
				clear: both;
				display: inline-block;
				margin: 29px 0 0;
				padding: 0 5px;
				position: absolute;
				width: 100%;
			}

			.pod-text {
				padding: 0 0 0 10px;
				width: 280px;

				a {
					text-decoration: none;
				}
			}
		}

		.pod-image {
			float: left;
			position: relative;
		}

		.pod-text {
			display: inline-block;
			padding-left: 10px;
			padding-right: 0;
			position: relative;
			width: 190px;
		}

		.page-content .divider {
			background-image: url(../images/custom/ie6/home_content_divs.gif);
		}
	}

	.ie7 {
		#wrapper {
			zoom: 1;
		}

		.pod {
			&.button .pod-text {
				left: 20px;
				padding-top: 0;
				position: absolute;
				z-index: 2;

				.description {
					margin: 0;
					padding: 0;
					text-indent: -3px;
					white-space: pre;
				}
			}

			.divider {
				clear: both;
				display: block;
				margin: 29px 0 0;
				padding: 0 5px;
				position: absolute;
				width: 100%;
			}

			.pod-text {
				display: inline;
			}
		}
	}

	.ie8 {
		.pod {
			&.button {
				.pod-text {
					left: 35px;
					padding-left: 105px;
					padding-right: 0;
					position: absolute;
					top: 5px;
					width: 300px;
					z-index: 2;

					.description {
						margin: 0;
						padding: 0;
						text-indent: -3px;
						white-space: pre;
					}

					span.description {
						color: #666;
						font-size: 1em;
						letter-spacing: 0.034em;
						line-height: 1.5em;
						white-space: pre-line;
					}
				}
			}

			.pod-text {
				display: inline-block;
				padding-left: 10px;
				padding-right: 0;
				position: relative;
				width: 190px;
			}
		}
	}

	/* ---------- Theme modules ---------- */

	.banner {
		background-color: #FAFAFA;

		@include box-shadow(0 1px 1px #E7E7E7);
		@include box-sizing(border-box);

		float: left;
		padding: 30px;
		width: 100%;

		.banner-button {
			width: 30%;
		}

		.banner-button, .banner-message {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
	}

	/* ---------- Hidden accessible ---------- */

	#breadcrumbs, #heading .page-title, #navigation h1, #skip-to-content {
		clip: rect(0 0 0 0);
		position: absolute;
	}

	/* ---------- Extras ---------- */

	#navigation {
		&.navbar .nav {
			> .active {
				> a, a:hover, a:focus {
					@include box-shadow(none);
					@include text-shadow(none);
				}
			}

			> li {
				> .dropdown-menu {
					@include border-radius(0);
					@include box-shadow(none);

					> li > a {
						&:focus, &:hover {
							@include background-image(none);
						}
					}
				}

				&.hover > a {
					@include text-shadow(none);
				}

				> a:focus, > a:hover {
					@include text-shadow(none);
				}
			}
		}

		.navbar-inner {
			@include box-shadow(none);
		}
	}

	.columns-max .portlet-boundary {
		@include border-radius(5px);
		@include single-box-shadow;
	}

	.dockbar-split .dockbar .nav > li > .dropdown-menu {
		@include border-radius(0);
		@include box-shadow(none);
	}

	.pod {
		@include border-radius(7px);
	}

	.tab-active span span a, .columns-2-1-2 #column-1 .featured-text h3, .columns-2-1-2 #column-2 .featured-text h3, .featured-text p, .portlet-topper-toolbar a, .portlet-topper-toolbar a:visited {
		@include single-text-shadow($textShadowColor2, 1px, 1px, 1px);
	}

	.modify-pages .delete-tab {
		@include border-radius(50%);
		@include text-shadow(none);
		@include transition(opacity 0.2s ease);

		&:hover {
			@include box-shadow(0 1px 1px -1px #000);
		}
	}

	/* ---------- Media queries ---------- */

	@include respond-to(tablet) {
		.banner {
			.banner-button, .banner-message {
				display: block;
				width: 100%;
			}
		}
	}

	@include respond-to(phone) {
		.row-fluid .zoe-panel {
			margin-bottom: 20px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}