/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@import "compass";
@import "mixins";

$darkGrayTextColor: #444;
$hoverBluishColor: #00BCFF;
$navbarButtonColor: #EFEFEF;
$navbarStaticTopColor: #222;
$themeMenuColor: #3A3B3E;

.aui {

	/**************/
	/*** global ***/
	/**************/

	/* wrapper for the entire page */

	#wrapper {

		color: $darkGrayTextColor;
		font-family: sans-serif;
		line-height: 22px;
		min-height: 100vh;
		overflow-x: hidden;
		padding: 0;

		/* area for portlets (so excludes header and footer areas) */

		#content {

			/*** specific column styles ***/

			.portlet-column.span12 {	
				.portlet-boundary {
					margin-bottom: 35px;

					/* portlet title */

					.portlet-topper {

						h1 {
							font-size: 26px;
							font-weight: bold;
							letter-spacing: 1px;
							text-align: center;
						}
					}

					/* portlet content */

					.portlet-content {

						text-align: center;

						.navbar .navbar-inner {
							background-color: transparent;
							background-image: none;
							border-width: 0;

							@include box-shadow(none);

							ul {
								a {
									background-color: $navbarButtonColor;

									@include border-radius(10px);

									margin-right: 10px;

									@include transition(all 0.4s ease);
								}

								a:hover {

									background-color: $hoverBluishColor;
									text-shadow: none;
								}
							}
						}
					}
				}
			}

			.portlet-column.span6 {
				.portlet-boundary {
					margin-bottom: 35px;

					/* portlet title */

					.portlet-topper {

						h1 {
							font-size: 26px;
							font-weight: bold;
							letter-spacing: 1px;
							text-align: center;
						}
					}

					/* portlet content */

					.portlet-content {

						text-align: center;

						.navbar .navbar-inner {
							background-color: transparent;
							background-image: none;
							border-width: 0;

							@include box-shadow(none);

							ul {
								a {
									background-color: $navbarButtonColor;

									@include border-radius(10px);

									margin-right: 10px;

									@include transition(all 0.4s ease);
								}

								a:hover {

									background-color: $hoverBluishColor;
									text-shadow: none;
								}
							}
						}
					}
				}
			}

			.portlet-column.span4 {
				.portlet-boundary {
					margin-bottom: 35px;

					/* portlet title */

					.portlet-topper {

						h1 {
							font-size: 26px;
							font-weight: bold;
							letter-spacing: 1px;
							text-align: center;
						}
					}

					/* portlet content */

					.portlet-content {

						text-align: center;

						.navbar .navbar-inner {
							background-color: transparent;
							background-image: none;
							border-width: 0;

							@include box-shadow(none);

							ul {
								a {
									background-color: $navbarButtonColor;

									@include border-radius(10px);

									margin-right: 10px;

									@include transition(all 0.4s ease);
								}

								a:hover {

									background-color: $hoverBluishColor;
									text-shadow: none;
								}
							}
						}
					}
				}
			}

			.portlet-column.span3 {
				.portlet-boundary {
					margin-bottom: 35px;

					/* portlet title */

					.portlet-topper {

						h1 {
							font-size: 26px;
							font-weight: bold;
							letter-spacing: 1px;
							text-align: center;
						}
					}

					/* portlet content */

					.portlet-content {

						text-align: center;

						.navbar .navbar-inner {
							background-color: transparent;
							background-image: none;
							border-width: 0;

							@include box-shadow(none);

							ul {
								a {
									background-color: $navbarButtonColor;

									@include border-radius(10px);

									margin-right: 10px;

									@include transition(all 0.4s ease);
								}

								a:hover {

									background-color: $hoverBluishColor;
									text-shadow: none;
								}
							}
						}
					}
				}
			}
		}
	}

	/****************************/
	/*** accounts control bar ***/
	/****************************/

	.navbar-static-top {

		/* very top navbar inner portion */

		> .navbar-inner {

			padding-left: 0;
			padding-right: 0;

			/* very top navbar container */

			> .container {

				background-color: $navbarStaticTopColor;

				/*** group of links to the left in top static navbar ***/

				.nav-add-controls {

					> li {
						> a {
							height: 20px;
							padding: 10px 24px; /* side padding = 15px (originally) + 9px (accomodate for losing dividers) = 24px */
							
							@include transition(all 0.4s ease);

							i,
							span {
								color: #E2E2E2;
								font-size: 13px;
								font-weight: bold;
								text-decoration: none;
								text-shadow: none;
							}
						}

						> a:focus {
							background-color: $navbarStaticTopColor; /* items only change color when hovered over, not when it received focus here */
							background-image: none;
							border-width: 0;
							outline: none; /* turn off blue outline of item that gets focus */
						}

						> a:hover {
							background-color: $hoverBluishColor;
						}
					}
				}

				/*** group of links to the right in top static navbar ***/

				.nav-account-controls {

					/* drop down menu */

					> li {

						&.dockbar-item {
							&.open {
								> a {
									background-color: $hoverBluishColor;
									background-image: none;
								}

								.dropdown-menu {
									height: auto;
									opacity: 1;

									> li {
										> a {
											background-image: none;

											@include transition(all 0.4s ease);
										}

										> a:hover {

											background-color: $hoverBluishColor;
										}

										> ul {
											> li {
												background-image: none;

												@include transition(all 0.4s ease);
											}

											> li:hover {

												background-color: $hoverBluishColor;
											}
										}
									}
								}
							}

							/* not open */

							> a {
							}

							> a:hover {

								background-color: $hoverBluishColor;
							}

							.dropdown-menu {

								background-color: $navbarStaticTopColor;
								display: block;
								height: 0;
								opacity: 0;
								overflow: hidden;
								padding: 5px 0;
								
								@include transition(opacity 0.4s ease);
							}
						}

						/* dividers between account controls bar items */

						&.divider-vertical {

							background-color: transparent; /* text background-color will be whatever navbar is */
							border-color: transparent;
							border-width: 0;
							margin: 0;
						}

						> a.dropdown-toggle {
							height: 20px;
							padding: 10px 24px; /* side padding = 15px (originally) + 9px (accomodate for losing dividers) = 24px */

							@include transition(all 0.4s ease);
						}

						/* first tier links when they are clicked on */

						> a:focus {

							background-color: $navbarStaticTopColor; /* items only change color when hovered over, not when it received focus here */
							background-image: none;
							border-width: 0;
							outline: none; /* turn off blue outline of item that gets focus */
						}

						.dropdown-menu > .active {

							a {
								background-color: $hoverBluishColor;
								background-image: none;
							}

							a:focus {
								background-color: $hoverBluishColor;
								background-image: none;
							}

							a:hover {
								background-color: $hoverBluishColor;
								background-image: none;
							}
						}
					}

					i,
					span {
						color: #D54E21;
						font-size: 12px;
						font-weight: normal;
						text-decoration: none;
						text-shadow: none;
					}
				}
			}
		}
	} /* end of .navbar-static-top */
	
	/*******************/
	/*** banner area ***/
	/*******************/

	#banner {
		#heading {
			> .site-title {
				padding: 45px 35px;
				position: relative;

				.site-name {
					color: #4B4B4B;
					font-size: 12px;
					font-style: italic;
					font-weight: normal;
					position: absolute;
					visibility: hidden; /* will set visibility to "visible" in js file after js formats it correctly */
				}
			}

			/* "welcome" label in banner */

			> .page-title {

				display: none;
			}
		}

	/********************************************/
	/*** site nav bar (within banner in html) ***/
	/********************************************/

		/* the entire nav bar entity */

		#navigation {

			z-index: 1000;

			/* nav bar ul strip */

			> ul {

				background-color: $themeMenuColor;
				border-width: 0;
				margin: 0;
				padding: 0;

				/* list item */

				> li {

					display: inline-block;

					/* each item's clickable area */

					> a {

						@include box-sizing(border-box);

						color: #E2E2E2;
						display: block;
						font-size: 13px;
						font-weight: bold;
						padding: 20px 35px;
						text-decoration: none;
						text-shadow: none;

						@include transition(all 0.4s ease);

						vertical-align: baseline;
					}

					> a:hover {

						background-color: $hoverBluishColor;
					}
				}
			}
		}
	}

	/*******************/
	/*** breadcrumbs ***/
	/*******************/

	#breadcrumbs {
		display: none;
	}

	/**************/
	/*** footer ***/
	/**************/

	#footer {
		background-color: $themeMenuColor;
		padding: 30px;
		text-align: center;
		
		> p.powered-by {
			color: #AAA;
			font-size: 11.5px;
			margin-bottom: 0;
			margin-top: 25px;

			a {
				color: #DDD;
			}
		}
	}

	/***********************/
	/*** asset publisher ***/
	/***********************/

	.portlet-asset-publisher {
		.portlet-content-container {
			overflow-x: scroll;

			/* the inner container for the asset publisher portlet */

			.portlet-body {

				height: 100%;
				margin-bottom: 35px;
				white-space: nowrap;
				width: 100%;

				.add-asset-selector {

					/* inner navbar */

					.navbar > .navbar-inner {

						background-color: transparent;
						background-image: none;
						border: 0; /* rid the rendered bar for no-bar look */

						@include box-shadow(none);

						ul.nav {
							float: none;
							margin-right: 0;

							li {

								/* navbar item link*/

								a {

									background-color: $navbarButtonColor;

									@include border-radius(10px);
									@include transition(all 0.4s ease);
								}

								a:hover {

									background-color: $hoverBluishColor;
									background-image: none;
									text-shadow: none;
								}

								/* icon-file in navbar items */

								.icon-file {

									color: $darkGrayTextColor;
									line-height: 1em;
								}

								/* text in navbar item*/

								.nav-item-label {

									color: $darkGrayTextColor;
									font-weight: normal;
									line-height: 1em;
								}

								&.dropdown.open {
									> .dropdown-toggle {
										background-color: $hoverBluishColor !important;
										text-shadow: none;
									}

									.dropdown-menu {
										border-width: 0;

										@include box-shadow(none);
									}
								}
							}
						}
					}
				}
				
				.asset-abstract:first-of-type {
					margin: 20px 0;
				}

				/* each blog entry container */

				.asset-abstract {

					border: 1px solid #DDD;

					@include border-radius(15px);
					@include box-sizing(border-box);
					
					display: inline-block;
					margin: 20px 10px;
					overflow: hidden;
					padding: 0 20px 0 10px;
					text-align: left;
					text-overflow: ellipsis;
					vertical-align: top;
					width: 300px; /* each entry takes up about a third of window width */
					white-space: normal;					

					/* blog entry title link */

					.asset-title {

						line-height: normal;

						> a {

						color: #3B3B3B;
						font-size: 17px;
						text-decoration: none;
						}
					}

					.asset-content {

						margin-left: 21px;

						.asset-summary {
							color: #5E5E5E;
							font-size: 13px;
						}
					}
				}
			}
		}
	} /* end of #banner */

	/*****************/
	/*** templates ***/
	/*****************/

	/*** Main Carousel Template ***/

	.component.carousel {
		margin-bottom: 0;

		.mainCarousel {
			height: 35vw;
			width: 100%;

			.mainCarouselImage {
				background-repeat: no-repeat;

				@include background-size(cover);

				height: 100%;
				left: 0;
				top: 0;
				width: 100%;
			}

			> menu {
				background: transparent;
				margin: 0 10px 0 0;

				.carousel-menu-pause {
					display: none;
				}

				.carousel-menu-prev {
					display: none;
				}

				.carousel-menu-index {
					border: 2px solid black;

					@include border-radius(8px);

					height: 8px;
					width: 8px;
				}

				.carousel-menu-next {
					display: none;
				}
			}
		}
	}

	/*** Feature Column Template ***/

	.featureColumnWrapper {
		@include box-sizing(border-box);

		min-height: 1em;
		padding: 0 15px;
		width: 100%;

		> .faIconBackground {
			background-color: $themeMenuColor;

			@include border-radius(50%);

			display: block;
			height: 50px;
			line-height: 50px;
			margin: 0 auto;
			text-align: center;
			width: 50px;

			> .icon-home {
				color: #FFF;
			}
		}

		> .featureColumnHeader {
			clear: both;
			color: #3B3B3B;
			display: block;
			font-size: 17px;
			font-weight: bold;
			margin: 10px 0 .8em 0;
			text-align: center;
		}

		> .featureColumnDescription {
			color: #5E5E5E;
			display: block;
			font-size: 13px;
			margin: 0 0 10px 0;
			padding: 0 20px;
			resize: none;
			text-align: center;
		}
	}

	/*** Headline Widget Template ***/

	.hlWidgetWrapper {
		
		background-color: #F6F6F6;
		border-bottom: 1px solid #DDD;
		border-top:	1px solid #DDD;
		padding: 25px;
		text-align: center;		

		.hlWidgetTitle {
			clear: both;
			color: $darkGrayTextColor;
			font-size: 26px;
			font-weight: 500;
			letter-spacing: 1px;
			line-height: 36px;
			margin: 0;
			padding: 20px 0 0 0;
			text-align: center;
			text-transform: uppercase;
		}

		.hlWidgetSeparationLine {
			border-top: 1px solid #EEE;
			height: 1px;
			margin: 20px 60px;
			position: relative;
		}

		.hlWidgetSubText {
			clear: both;
			color: #666;
			font-size: 14px;
			font-weight: 200;
			margin: 0;
			padding: 0 0 20px 0;
		}
	}
} /* end of .aui */