/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/**************/
/*** global ***/
/**************/


/* wrapper for the entire page */
#wrapper
{
	padding: 0;
	font-family: sans-serif;
	line-height: 22px;
	color: #444;
	overflow-x: hidden;
}

.aui *:focus
{
	outline: none;
}

a, a:link, a:visited, a:hover, a:active, 
.aui a, .aui a:link, .aui a:visited, .aui a:hover, .aui a:active
{
	text-decoration: none;
}

/* portlet drop-down settings menu text and icons */
.aui .yui3-widget-bd .dropdown-menu
{
	background-color: #3a3b3e;
}
.aui .yui3-widget-bd .dropdown-menu a.taglib-icon
{
	transition: all 0.4s ease;
}
.aui .yui3-widget-bd .dropdown-menu a.taglib-icon:hover
{
	background-image: none;
	background-color: #00bcff;
}
.aui .yui3-widget-bd .dropdown-menu i,
.aui .yui3-widget-bd .dropdown-menu .taglib-text-icon
{
	color: #e2e2e2;
}

/* get rid of any portlet titles that show by default.
 * note: rids the content-rearranging, click-draggable area as well
 */
.aui .portlet-title
{
	display: none;
}

/* all portlet inner wrapper (?) */
.aui .portlet-content
{
	padding: 0;
}

/* web content edit bar (the small strip on bottom of portlet) */
.lfr-meta-actions
{
	margin-top: 0; /* actually can't be overwritten */
	border: 0;
	padding: 0;
}

/* every major row of the web page */
.aui .row-fluid
{
	margin-bottom: 35px;
}

/****************************/
/*** accounts control bar ***/
/****************************/

/* very top navbar inner portion */
.aui .navbar-static-top > .navbar-inner
{
	padding-left: 0;
	padding-right: 0;
}
/* very top navbar container */
.aui .navbar-static-top > .navbar-inner > .container
{
	background-color: rgb(34, 34, 34);
}

/* first tier links in top static navbar */
.aui .navbar-static-top .nav-item-label,
.aui .navbar-static-top i
{
	text-shadow: none;
	text-decoration: none;
}
/* first tier links when they are clicked on */
.aui .nav-collapse .nav > li > a:focus,
{
	border: none;
	outline: none; /* turn off blue outline of item that gets focus */
	background-image: none;
	background-color: rgb(34, 34, 34); /* items only change color when hovered over, not when it received focus here */
}

/*** group of first tier links to the left in top static navbar ***/
.aui .navbar-static-top .nav-add-controls .toggle-controls-link
{
}
.aui .navbar-static-top .nav-add-controls i,
.aui .navbar-static-top .nav-add-controls span

{
	font-size: 13px;
	font-weight: bold;
	color: #e2e2e2;
}
.aui .navbar-static-top .nav-add-controls li.dockbar-item > a:hover
{
	background-color: #00bcff;
}

.aui .navbar-static-top .nav-add-controls li.dockbar-item > a
{
	transition: all 0.4s ease;
}

/*** group of first tier links to the right in top static navbar ***/
.aui .navbar-static-top .nav-account-controls i,
.aui .navbar-static-top .nav-account-controls span
{
	font-size: 12px;
	font-weight: normal;
	color: #d54e21;
}
/* drop down menu */ 
.aui .navbar .nav > li > a,
.aui .navbar-static-top .nav-account-controls li.dockbar-item > .dropdown-toggle
{
	padding: 10px 24px 10px; /* side padding = 15px (originally) + 9px (accomodate for losing dividers) = 24px */
	height: 20px;
	transition: all 0.4s ease;
}
.aui .navbar-static-top .nav-account-controls li.dockbar-item > .dropdown-toggle:hover
{
	background-color: #00bcff;
}
.aui .navbar-static-top .nav-account-controls li.dockbar-item.open > .dropdown-toggle
{
	background-image: none;
	background-color: #00bcff;
}
/* dividers between account controls bar */
.aui .navbar-static-top li.divider-vertical
{
	margin: 0;
	border: none;
	border-color: transparent;
	background-color: transparent; /* text background-color will be whatever navbar is */
}
/* account controls drop down menu (entire thing) */
.aui .navbar-static-top .nav-account-controls .dockbar-item .dropdown-menu
{
	padding: 5px 0;
	height: 0;
	opacity: 0;
	background-color: rgb(34, 34, 34);
	overflow: hidden;
	transition: opacity 0.4s ease;
	display: block;
}
.aui .navbar-static-top .nav-account-controls .dockbar-item.open .dropdown-menu
{
	opacity: 1;
	height: auto;
}

/* account controls drop down menu items */
.aui .navbar-static-top .nav-account-controls .dockbar-item.open .dropdown-menu > li > a,
.aui .navbar-static-top .nav-account-controls .dockbar-item.open .dropdown-menu > li > ul > li
{
	background-image: none;
	transition: all 0.4s ease;
}
.aui .navbar-static-top .nav-account-controls .dockbar-item.open .dropdown-menu > li > a:hover,
.aui .navbar-static-top .nav-account-controls .dockbar-item.open .dropdown-menu > li > ul > li:hover
{
	background-color: #00bcff;
}



/*******************/
/*** banner area ***/
/*******************/

#banner h1.site-title
{
	padding: 45px 35px 45px 35px;
	position: relative;
}

#banner h1.site-title .site-name
{
	right: 35px;
	top: 50%;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	color: #4b4b4b;
	position: absolute;
}

#heading > .page-title,		/* hide "Welcome" label */
#layout_1					/* hide "Welcome" link */
{
	display: none; 
}

/********************/
/*** site nav bar ***/
/********************/

.aui #breadcrumbs
{
	z-index: 1000;
}
.aui .breadcrumb
{
	padding: 0;
	border: 0;
	margin: 0;
	background-color: #3a3b3e;
}

.aui .breadcrumb li
{
	display: inline-block;
}

.aui .breadcrumb > li > a
{

	padding: 20px 35px;
	font-size: 13px;
	text-shadow: none;
	font-weight: bold;
	text-decoration: none;
	color:  #e2e2e2;
	vertical-align: baseline;
	box-sizing: border-box;
	display: block;
	transition: all 0.4s ease;
}

.aui .breadcrumb > li > a:hover
{
	background-color: #00bcff;
}

.divider
{
	display: none;
}

/**************/
/*** footer ***/
/**************/

.aui #footer
{
	padding: 30px;
	text-align: center;
	background-color: #3a3b3e;
}

.aui #footer > p.powered-by
{
	margin-top: 25px;
	margin-bottom: 0px;
	font-size: 11.5px;
	color: #aaaaaa;
}

.aui #footer > p.powered-by > a
{
	color: #dddddd;
}

/***********************/
/*** asset publisher ***/
/***********************/

.aui .portlet-asset-publisher .portlet-content-container
{
	width: 100%;
	overflow-x: scroll;
}

/* the inner container for the asset publisher portlet */
.aui .portlet-asset-publisher .portlet-body
{
	margin-bottom: 35px;
	width: 100%;
	height: 100%;
	white-space: nowrap;
}

/* first wrapper for navbar */
.aui .portlet .lfr-meta-actions.add-asset-selector
{
	position: absolute; /* we want its contents to stay fixed while relative to this container" */
}

/* inner navbar */
.aui .portlet .navbar > .navbar-inner
{
	border: 0; /* rid the rendered bar for no-bar look */
	box-shadow: none;
	background-color: transparent;
	background-image: none;
}

/* navbar item container (includes the nav btn that shows up in smaller windows) */
.aui ul.nav[aria-label="Asset Publisher"],
.aui .lfr-meta-actions.add-asset-selector .btn-navbar
{
	margin-right: 0;
	float: none;
}

/* navbar item link*/
.aui .lfr-meta-actions.add-asset-selector ul.nav[aria-label="Asset Publisher"] a
{
	border-radius: 10px;
	background-color: #efefef;
	transition: all 0.4s ease;
}
.aui .lfr-meta-actions.add-asset-selector ul.nav[aria-label="Asset Publisher"] a:hover
{
	border-radius: 10px;
	text-shadow: none;
	background-color: #00aaff;
}

/* icon-file in navbar item */
.aui .portlet .navbar .icon-file
{
	line-height: 1em;
	color: #444444;
}


/* text in navbar item*/
.aui .portlet .navbar .nav-item-label
{
	line-height: 1em;
	color: #444444;
	font-weight: normal;
}

/* each blog entry container */
.aui .portlet .asset-abstract:first-of-type
{
	margin: 50px 0px 20px 0px;
}
.aui .portlet .asset-abstract
{
	margin: 50px 10px 20px 10px;
	border: 1px solid #dddddd;
	border-radius: 15px;
	padding: 0 20px 0 10px;
	width: 31%; /* each entry takes up about a third of window width */
	
	box-sizing: border-box;
	vertical-align: top;
	white-space: normal;
	display: inline-block;
}

/* blog entry title link */
.aui .portlet .asset-abstract .asset-title > a
{
	font-size: 17px;
	color: #3b3b3b;
	text-decoration: none;
}
.aui .portlet .asset-abstract .asset-content
{
	margin-left: 21px;
}
.aui .portlet .asset-abstract .asset-summary
{
	font-size: 13px;
	color: #5e5e5e;
}

@media (max-width: 768px)
{
	.aui .portlet .asset-abstract
	{
		padding: 0 1% 0 1%;
	}
	.aui .portlet .asset-abstract .asset-content
	{
		margin-right: 0;
		margin-left: 0;
	}
}

/*****************/
/*** templates ***/
/*****************/

/*** Main Carousel Template ***/

.aui .yui3-widget.component.carousel
{
	margin-bottom: 0;
}

.mainCarouselImage
{
	background-repeat: no-repeat;
	background-size: cover;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
}
.mainCarousel
{
	height: 35vw;
	width: 100%;
}

.aui .mainCarousel > menu
{
	margin: 0 10px 0 0;
	background: transparent;
}

.aui .mainCarousel > menu .carousel-menu-pause,
.aui .mainCarousel > menu .carousel-menu-prev,
.aui .mainCarousel > menu .carousel-menu-next
{
	display: none;
}

.aui .mainCarousel > menu .carousel-menu-index
{
	height: 8px;
	width: 8px;
	border: 2px solid black;
	border-radius: 8px
}

/*** Feature Column Template ***/

.featureColumnWrapper
{
	padding: 0px 15px 0 15px;
	width: 100%;
	box-sizing: border-box;
	min-height: 1em;
}

.aui .featureColumnWrapper > .faIconBackground
{
	margin: 0 auto;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #3a3b3e;
	display:block;
}

.aui .faIconBackground > .icon-home
{
	color: #ffffff;
}

.aui .featureColumnWrapper > .featureColumnHeader
{
	margin: 10px 0 .8em 0;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	color: #3b3b3b;				
	clear: both;
	display: block;
}

.aui .featureColumnWrapper > .featureColumnDescription
{
	margin: 0 0 10px 0;
	padding: 0 20px 0 20px;
	font-size: 13px;
	text-align: center;
	color: #5e5e5e;
	resize: none;
	display: block;
}

/*** Headline Widget Template ***/

.hlWidgetWrapper
{
	padding: 25px;
	background-color: #f6f6f6;
	border-top:	1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	text-align: center;
}

.aui .hlWidgetTitle
{
	margin: 0;
	padding: 20px 0 0 0;
	font-size: 26px;
	line-height: 36px;
	text-transform: uppercase;		
	font-weight: 500;
	text-align: center;
	letter-spacing: 1px;
	color: #444444;
	clear: both;
}

.aui .hlWidgetSeparationLine
{
	border-top: 1px solid #eee;
	margin: 20px 60px 20px 60px;
	height: 1px;
	position: relative;
}

.aui .hlWidgetSubText
{
	margin: 0;
	padding: 0 0 20px 0;
	font-size: 14px;
	color: #666666;
	font-weight: 200;
	clear: both;
}