<div class="web-content-body">
	<span>
		<header class="entry-header">
			
			<div class="entry-title">
				<h2>
					$Blog_Title.getData()
				</h2>
			
			<div class="entry-date"> <span class="hide-accessible">Published Date</span>
			#set ($Date2021_DateObj = $dateUtil.newDate($getterUtil.getLong($Date2021.getData())))
			
			$dateUtil.getDate($Date2021_DateObj, "dd MMM yyyy", $locale)
			</div><!-- .entry-date -->
		</header><!-- .entry-header -->
	
		<div class="entry-content" style="padding-bottom: 60px;">
			$Blog_HTML.getData()
		</div><!-- .entry-content -->
	</span>
</div>