@import "compass";
@import "mixins";
@import "styled_theme_overrides";

/* ---------- Set compass defaults ---------- */

$default-font-size: 16px;

/* ---------- Global ---------- */

.aui {
	background-color: #B2B2B2;

	&.dialog-iframe-root-node body {
		background-color: #FFF;
		background-image: none;
		padding-top: 0;
	}

	body {
		background-color: #B2B2B2;
		padding: 0;
	}

	#banner {
		background-color: #232625;
	}

	#heading {
		h1.site-title {
			font-size: 21px;
			margin: 0;
			padding: 10px;

			a {
				color: #FFF;
				font-size: 21px;
				font-weight: 100;

				&:focus, &:hover {
					text-decoration: none;
				}

				img {
					width: 25px;
				}
			}
		}

		.site-name {
			vertical-align: middle;
		}

		.logo {
			vertical-align: text-top;
		}
	}

	#wrapper {
		font-size: $default-font-size;
		font-weight: 300;
		margin: 0 auto;
		max-width: 1200px;
		padding-top: 0;
		position: relative;
	}

	#navigation {
		display: inline-block;
		margin-bottom: 0;

		&.navbar .nav {
			> li > a {
				color: #FFF;

				@include text-shadow(none);
			}

			> .active > a {
				background-color: transparent;

				@include box-shadow(none);

				color: #FFF;

				&:focus, &:hover {
					background-color: transparent;

					@include box-shadow(none);

					color: #FFF;
				}
			}

			li.dropdown.open, li.dropdown.active, li.dropdown.open.active {
				> .dropdown-toggle {
					background-color: transparent;
					color: #FFF;
				}
			}
		}

		.navbar-inner {
			background-color: transparent;
			background-image: none;
			border-width: 0;

			@include border-radius(0);
			@include box-shadow(none);
		}
	}

	/* -------- Hidden accessible -------- */

	#breadcrumbs, #heading .page-title, #navigation h1, #skip-to-content {
		clip: rect(0 0 0 0);
		position: absolute;
	}

	/* ---------- Extras ---------- */

	.modify-pages .delete-tab {
		@include border-radius(50%);
		@include text-shadow(none);
		@include transition(opacity 0.3s ease);

		&:hover {
			@include box-shadow(0 1px 1px -1px #000);
		}
	}

	/* -------- Use Font Awesome Icons in Unordered List -------- */

	.list-style-icon, .list-style-icon li[class^="icon-"]:before {
		font-size: 21px;
	}

	.list-style-icon {
		list-style: none;
		margin-left: 1.5em;

		li[class^="icon-"] {
			display: block;

			&:before {
				display: inline-block;
				font-family: 'fontawesome-alloy';
				font-weight: 100;
				margin-left: -1.5em;
				vertical-align: middle;
				width: 1.5em;
			}
		}

		li {
			font-size: $default-font-size;
		}
	}

	/* -------- Override Bootstrap Buttons to Flat Style (only in theme pages) -------- */

	#wrapper {
		.btn {
			@include background-image(none);

			border-width: 0;

			@include border-radius(0);
			@include box-shadow(none);

			font-weight: 100;

			@include text-shadow(none);
		}

		.btn-large {
			padding: 20px 25px;
		}
	}

	/* ---------- Zoe Banner Common Styles ---------- */

	.zoe-banner {
		@include box-sizing(border-box);

		display: table;
		padding: 10px;
		width: 100%;

		.banner-button {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			width: 25%;
		}

		.banner-message {
			display: table-cell;
			vertical-align: middle;

			h2, p {
				line-height: normal;
			}
		}
	}

	/* -------- Zoe Carousel Common Styles -------- */

	.zoe-carousel {
		margin-bottom: 0;

		&:hover {
			a.carousel-menu-next {
				right: 0;
			}

			a.carousel-menu-prev {
				left: 0;
			}
		}

		.carousel-item {
			opacity: 0;
			top: 0;
			width: 100%;
		}

		.carousel-item-active {
			opacity: 1;
			position: relative;
			width: 100%;
		}

		.carousel-panel-center {
			text-align: center;
		}

		.carousel-panel-left {
			text-align: left;
		}

		.carousel-panel-right {
			text-align: right;
		}

		> menu {
			height: 0;
		}

		menu {
			background-color: transparent;
			bottom: auto;
			padding: 0;
			position: static;
			right: auto;

			.carousel-menu-index-container {
				bottom: 0;
				position: absolute;
				text-align: center;
				width: 100%;
				z-index: 4;

				.carousel-menu-index {
					background-color: #333;
					background-color: rgba(0, 0, 0, 0.5);

					@include border-radius(50px);

					color: transparent;
					height: 10px;
					text-align: center;
					width: 10px;

					&.carousel-menu-active {
						background-color: #333;
						background-color: rgba(0, 0, 0, 0.7);
					}
				}
			}

			.carousel-menu-item {
				background-color: transparent;
				overflow: visible;
				text-indent: 0;

				&:hover {
					a.carousel-menu-next {
						right: 0;

						@include transition(all 0.5s ease);
					}

					a.carousel-menu-prev {
						left: 0;

						@include transition(all 0.5s ease);
					}
				}
			}

			a.carousel-menu-pause, a.carousel-menu-play {
				background-color: #333;
				background-color: rgba(0, 0, 0, 0.5);
				background-image: none;

				@include border-radius(0);

				bottom: 0;
				color: #FFF;
				padding: 5px 0px 5px 5px;
				position: absolute;
				right: 0;
				text-decoration: none;
				z-index: 5;
			}

			a.carousel-menu-pause:after {
				content: '\f04c';
				font-family: 'fontawesome-alloy';
			}

			a.carousel-menu-play:after {
				content: '\f04b';
				font-family: 'fontawesome-alloy';
			}

			a.carousel-menu-next, a.carousel-menu-prev {
				background-image: none;
				color: #FFF;
				height: auto;
				font-size: 30px;
				margin: 0;
				position: absolute;
				text-decoration: none;
				top: 50%;

				@include transition(all 0.25s ease);

				width: auto;
				z-index: 5;

				&:after {
					background-color: rgba(0, 0, 0, 0.4);
					font-family: 'fontawesome-alloy';
					padding: 15px;
					text-indent: 0;
				}
			}

			a.carousel-menu-next {
				right: -100px;

				&:after {
					content: '\f054';
				}
			}

			a.carousel-menu-prev {
				left: -100px;

				&:after {
					content: '\f053';
				}
			}

			li {
				display: inline-block;
				float: none;
			}
		}
	}

	/* -------- Zoe Footer Common Styles -------- */

	.row-fluid .span2-4 {
		margin-left: 1%;
		width: 19%;
	}

	.zoe-footer {
		background-color: #232625;

		@include box-sizing(border-box);

		color: #FFF;
		padding: 25px;

		&.row-fluid .span12 {
			margin: 0;
		}

		a {
			color: #FFF;
			font-weight: 100;
			letter-spacing: 1px;

			&:focus, &:hover {
				color: #FFF;
			}
		}

		ul li {
			margin: 15px 0;
		}

		.footer-column-title {
			border-bottom: 2px solid #4F4F4F;
			font-size: 16px;
			font-weight: 300;
			padding-bottom: 8px;

			&:after {
				background: #B3D929;
				content: "";
				display: block;
				height: 2px;
				position: relative;
				top: 10px;
				width: 65px;
			}
		}
	}

	.zoe-footer-secondary {
		background-color: #222;

		@include box-sizing(border-box);

		color: #FFF;
		font-size: 16px;
		font-weight: 100;
		padding: 20px 25px;

		a {
			color: #FFF;
			font-weight: 300;

			&:focus, &:hover {
				color: #FFF;
			}
		}
	}

	/* ------- Zoe Panel Common Styles -------- */

	.zoe-panel {
		font-size: 18px;
		font-weight: 200;
		line-height: 28px;
		text-align: center;
		vertical-align: middle;

		@include word-break(break-word);

		.zoe-panel-image {
			display: inline-block;
			margin-bottom: 24px;

			&.img-circle {
				overflow: hidden;
			}

			i {
				font-size: 90px;
			}
		}

		button {
			margin-top: 24px;
		}
	}

	/* -------- Home Main Carousel -------- */

	#zoe-tech-HOME-MAIN-CAROUSEL {
		.carousel-item .btn {
			margin-top: 3px;
		}

		.carousel-panel-center, .carousel-panel-left, .carousel-panel-right {
			position: absolute;
			top: 50%;
			width: 50%;
		}

		.carousel-panel-center {
			left: 50%;
			margin-left: -25%;
			text-align: left;
		}

		.carousel-panel-left {
			left: 10%;
			text-align: left;
		}

		.carousel-panel-right {
			right: 10%;
			text-align: left;
		}

		.carousel-panel-text {
			margin-left: 10px;

			span {
				background-color: #888;
				background-color: rgba(0, 0, 0, 0.5);

				@include box-shadow(10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5));

				color: #FFF;
				font-size: 32px;
				font-weight: 100;
				line-height: 47px;
				padding: 5px 0;
			}
		}
	}

		/* -------- Home Our Features Panel -------- */

	.our-features-panel {
		background-color: #FFF;
		padding: 40px 30px;

		.portlet-title {
			margin-bottom: 53px;
		}
	}

	/* -------- Home Getting Started Panel -------- */

	.getting-started-panel {
		background-color: #232625;

		.zoe-panel {
			color: #FFF;
			padding: 40px;
			text-align: left;

			&:first-of-type {
				padding: 0;
			}

			h3, p {
				font-weight: 100;
			}

			.zoe-panel-image {
				margin-bottom: 0;
				width: 100%;
			}
		}
	}

	/* -------- Home Testimonials Carousel -------- */

	.home-testimonials-carousel {
		background-color: #FFF;

		.portlet-title {
			margin-top: 0;
			position: relative;
			text-align: center;
			top: 60px;
			z-index: 4;
		}
	}

	.portlet-title {
		font-size: 32px;
		font-weight: 300;
	}

	.portlet-title-centered {
		text-align: center;
	}

	#zoe-tech-HOME-TESTIMONIALS-CAROUSEL {
		&.fixed-height {
			.carousel-panel-container {
				margin: 0 auto;
				padding-bottom: 0;
				padding-top: 3%;
			}
		}

		&.zoe-carousel menu a {
			&.carousel-menu-pause, &.carousel-menu-play {
				background-color: transparent;
				color: #999;
			}

			&.carousel-menu-next, &.carousel-menu-prev {
				color: #999;

				&:after {
					background-color: transparent;
				}
			}

			&.carousel-menu-next {
				right: 0;
			}

			&.carousel-menu-prev {
				left: 0;
			}
		}

		.carousel-panel-container {
			font-size: 21px;
			font-style: italic;
			font-weight: 100;
			line-height: 35px;
			margin: 90px auto 0;
			padding-bottom: 45px;
			position: relative;
			top: 50%;
			width: 80%;
		}
	}

	/* -------- Zoe Tech Nested Portlet -------- */

	.portlet-nested-portlets {
		background-color: #F6F6F6;
		padding: 40px;

		.portlet-column-content > .portlet-boundary {
			background-color: #FFF;
			padding: 40px;
		}

		.span4 {
			.portlet-boundary {
				background-color: #EEE;
				margin-bottom: 40px;
				padding: 40px;
			}
		}
	}

	/* -------- Zoe Pricing Table -------- */

	.zoe-pricing-table-container {
		@include box-sizing(border-box);

		.rate {
			background-color: #FAFAFA;
			line-height: normal;
			margin-bottom: 0;
			padding: 10px;
			text-align: center;
		}

		.zoe-pricing-table {
			h3 {
				background-color: #6E6E6E;
				color: #FFF;
				font-weight: 100;
				margin: 0;
				text-align: center;
			}

			ul li {
				background-color: #EEE;
				overflow: hidden;
				padding: 10px;
				text-align: center;
				white-space: nowrap;

				&.even {
					background-color: #FAFAFA;
				}
			}
		}
	}

	.zoe-pricing-tables-connected.row-fluid {
		.zoe-pricing-table.span3 {
			float: left;
			margin-left: 0;
			width: 20%;
		}

		.zoe-pricing-table.span3:first-of-type {
			width: 40%;

			h3 {
				padding-left: 10px;
				text-align: left;
			}

			ul li {
				text-align: left;
			}
		}
	}

	/* -------- Zoe Tech Footer -------- */

	.zoe-footer {
		.separator {
			border-bottom: 1px solid #343434;
			border-top: 1px solid #171717;
		}
	}

	/* -------- Media Queries -------- */

	@media (min-width: 980px) {
		body {
			&.dockbar-split {
				padding-top: 65px;
			}

			&.signed-out {
				padding-top: 0;
			}
		}

		#banner {
			display: table;
			width: 100%;
		}

		#heading, #navigation {
			display: table-cell;
			vertical-align: middle;
		}

		#navigation.navbar .navbar-inner ul.nav {
			float: right;
		}

		#navigation.navbar .nav > li > a {
			padding: 30px 20px;
		}
	}

	@include respond-to(phone, tablet) {
		#navigation {
			left: 0;
			right: 0;
		}

		.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
			margin-left: 0;
			margin-right: 0;
		}
	}

	@include respond-to(phone) {
		#wrapper {
			padding-left: 0;
			padding-right: 0;
		}

		.zoe-pricing-tables-connected.row-fluid {
			overflow: auto;
			white-space: nowrap;
			width: 100%;

			.zoe-pricing-table.span3 {
				display: inline-block;
				float: none;
				min-width: 150px;
				white-space: normal;

				&:first-of-type {
					min-width: 230px;
				}
			}
		}
	}
}