#set ($content_id = "zoe-tech-${reserved-article-id.getData()}")
#set ($carousel_css_class = "zoe-carousel")


#if ($getterUtil.getBoolean($auto_play.getData()))
	#set ($playing = $getterUtil.getBoolean($auto_play.getData()))
#end

#if (!$carousel_height.data.isEmpty())
	#set ($carousel_css_class = $carousel_css_class + " fixed-height")
#end

<style type="text/css">
	#${content_id} {
		overflow: hidden;
		position: relative;
	}

	#${content_id} .carousel-item {
		top: 0;
	}

	#if (!$getterUtil.getBoolean($controls_pagination.getData()))
		#${content_id} menu .carousel-menu-index {
			display: none;
		}
	#end

	#if (!$getterUtil.getBoolean($controls_play.getData()))
		#${content_id} menu .carousel-menu-pause, #${content_id} menu .carousel-menu-play {
			display: none;
		}
	#end

	#if (!$getterUtil.getBoolean($controls_prev_next.getData()))
		#${content_id} menu .carousel-menu-next, #${content_id} menu .carousel-menu-prev {
			display: none;
		}
	#end

	#if (!$carousel_height.data.isEmpty())
		#${content_id}, #${content_id} .carousel-item {
			height: ${carousel_height.data};
		}
	#end
</style>

<div class="$carousel_css_class" id="$content_id">
	#if (!$carousel_text.getSiblings().isEmpty())
		#foreach ($cur_carousel_text in $carousel_text.getSiblings())
			#set($caption_alignment = $cur_carousel_text.carousel_caption_alignment.data)

			<div class="carousel-item item${velocityCount}">
				#if ($cur_carousel_text.carousel_text_position.data == "top")
					<div class="carousel-panel-container carousel-panel-${caption_alignment}">
						#if (!$cur_carousel_text.data.isEmpty())
							<div class="carousel-panel-text">
								<span>
									$cur_carousel_text.data
								</span>
							</div>
						#end

						#if (!$cur_carousel_text.carousel_button_text.data.isEmpty())
							<a class="$cur_carousel_text.carousel_button_text.carousel_button_size.data $cur_carousel_text.carousel_button_text.carousel_button_style.data" href="$cur_carousel_text.carousel_button_text.carousel_button_link.data">$cur_carousel_text.carousel_button_text.data</a>
						#end
					</div>
				#end

				#if (!$cur_carousel_text.image.data.isEmpty())
					<div class="carousel-image">
						<img src="$cur_carousel_text.image.data" />
					</div>
				#end

				#if ($cur_carousel_text.carousel_text_position.data == "bottom")
					<div class="carousel-panel-container carousel-panel-${caption_alignment}">
						#if (!$cur_carousel_text.data.isEmpty())
							<div class="carousel-panel-text">
								<span>
									$cur_carousel_text.data
								</span>
							</div>
						#end

						#if (!$cur_carousel_text.carousel_button_text.data.isEmpty())
							<a class="$cur_carousel_text.carousel_button_text.carousel_button_size.data $cur_carousel_text.carousel_button_text.carousel_button_style.data" href="$cur_carousel_text.carousel_button_text.carousel_button_link.data">$cur_carousel_text.carousel_button_text.data</a>
						#end
					</div>
				#end
			</div>
		#end
	#end
</div>

<script type="text/javascript">
	AUI().ready(
		'zoe-carousel',
		function(A) {
			new A.ZoeCarousel(
				{
					contentBox: '#${content_id}',
					intervalTime: $duration.data,
					itemSelector: '.carousel-item',
					playing: $getterUtil.getBoolean($auto_play.getData()),
					transitionType: '${transition_type.data}'
				}
			).render();

			(function() {
				var carouselPanelCenter = A.all('.zoe-carousel.fixed-height .carousel-panel-container');

				A.each(
					carouselPanelCenter,
					function(node) {
						var config = {};
						var panelHeight = node.get('offsetHeight');

						config = {
							marginTop: -panelHeight/2 + 'px'
						}

						node.setStyles(config);
					}
				);
			})();
		}
	);
</script>
