#set ($col = "col-md-12")

#if ($footer_column_title.getSiblings().size() == 6)
	#set ($col = "col-md-2 col-xs-4")
#elseif ($footer_column_title.getSiblings().size() == 5)
	#set ($col = "col-md-2-4 col-xs-4")
#elseif ($footer_column_title.getSiblings().size() == 4)
	#set ($col = "col-md-3 col-xs-6")
#elseif ($footer_column_title.getSiblings().size() == 3)
	#set ($col = "col-md-4 col-xs-12")
#elseif ($footer_column_title.getSiblings().size() == 2)
	#set ($col = "col-md-6 col-xs-12")
#end

<div class="row zoe-footer">
	#if (!$footer_column_title.getSiblings().isEmpty())
		#foreach ($cur_footer_column_title in $footer_column_title.getSiblings())
			#if ($velocityCount == 1)
				#set ($column_class = "footer-column first")
			#elseif ($velocityCount == $footer_column_title.getSiblings().size())
				#set ($column_class = "footer-column last")
			#else
				#set ($column_class = "footer-column")
			#end

			<div class="$column_class $col">
				<h4>$cur_footer_column_title.data</h4>

				<p>$cur_footer_column_title.column_content.data</p>
			</div>
		#end
	#end
</div>

#if (!$secondary_footer_content.data.isEmpty())
	<div class="row zoe-footer-secondary">
		$secondary_footer_content.data
	</div>
#end