<div class="aui-w50 aui-column">	
	<div class="content">
		#if ($footer-col-1)
			$footer-col-1
		#end
	</div>
</div>

<div class="aui-w50 aui-column-last">
	<div class="content">
		#if ($footer-col-2)
			$footer-col-2
		#end
	</div>
</div>