/* --- Header & Navigation --- */
.aui {
	body{
		background-color: #F5F5F5;
		margin: 0 auto;
	}

	form {
		margin: 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #141414;
		font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-decoration: none;

		a {
			color: #141414;
		}
	}

	#banner {
		background-color: #333;
		margin: 0 auto;
		max-width: 1050px;
		min-height: 200px;
		padding-bottom: 15px;

		#heading {
			height: 75px;
			padding: 40px 0px 20px 0px;
			text-align: center;

			a:hover {
				text-decoration: none;
			}
		}

	}

	#breadcrumbs, .lfr-hudcrumbs {
		display: none;
	}

	#navigation {
		background-color: #333;
		margin: 0 auto;
		max-width: 1050px;
		min-height: 50px;
		padding-top: 15px;
		text-align: center;
		z-index: 100;

		a {
			color: #AAA;
			font-size: 15px;
			font-family: 'Open Sans', sans-serif;
			text-decoration: none;
		}

		li {
			display: inline;
			padding: 15px 15px 15px 15px;
			position:relative;

			&:hover {
				background-color: #444;
				color: #AAA;
			}
		}

		ul {
			line-height: 3.3rem;
			margin: 0px;
			padding-right: 20px;
		}

		ul li.selected {
			a {
				color: #FFF;
				font-style: italic;
			}

			&:hover {
				color: #AAA;
			}
		}
	}

 /* --- Dropdown Menu --- */
	#navigation ul {
		li ul.child-menu {
			background:#FFF;
			background: rgba(255, 255, 255, 0);
			display: none;
			list-style:none;
			position: absolute;

			a {
				white-space:nowrap;
			}

			li {
				background-color: #464646;
			}
		}

		li:hover {
			a {
				background:#464646;
				text-decoration:none;
			}

			ul.child-menu {
				display: block;
				z-index: 1;

				a {
					text-decoration:none;
					text-align: left;
				}
				
				li {
					background:#464646;
					display: block;
					padding: 10px 15px 10px 15px;
					text-align: left;
					width: 160px;
				}
			}
		}
	}

	.modify-pages .delete-tab {
		background: #444;
		border-radius: 10px;
		border: 2px solid #EEE;
		color: #EEE;
		font-size: 16px;
		padding: 4px;
		right: -10px;
		top: 0;
		z-index: 3;
	}
	
	.site-title {
		font-size: 3em;
		font-weight: 900;
		letter-spacing: -2px;
		line-height: 1;
		margin: 0 0 10px 0;
		text-align: center;

		a:hover {
			text-decoration: none;
		}

		.site-name {
			color: #FFF;
			display: inline-block;
		}
	}

	.site-description {
		color: #777;
		font-size: 16px;
		font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
		line-height: normal;
		margin: 0;
	}
}

/* ---- Main Content ---*/

.aui {
	#wrapper {
		margin: 0 auto;
		max-width: 1050px;
	}

	.dockbar .navbar-inner {
		padding: 0;

		.container {
			background-color: #FFF;
			box-shadow: inset 0 -1px 0 rgba( 0, 0, 0, 0.3 ), 0 1px 3px rgba( 0, 0, 0, 0.2 );
			padding: 10px 0;

			.divider-vertical {
				border: none;
			}
		}
	}

	.portlet-content, .portlet-minimized .portlet-content-container, .portlet-borderless-container, .portlet-borderless-content, .taglib-social-bookmarks {
		background-color: #FFF;
		border-bottom: 1px solid #F5F5F5;
		margin-bottom: 0px;
		margin-top: 0px;
		padding: 0 0 0 0;
	}

	.portlet-content-container, .portlet-borderless-container, .portlet-borderless-content, {
		a, a.selected {
			color: #C3C3C3;
			font-weight: normal;
			text-decoration: none;
		}

		a:hover, span:hover {
			color: #4F4F4F;
			text-decoration: none;
		}

		.portlet-body {
			color: #919191;
			font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 1.2rem;
			font-weight: normal;
			line-height: 2rem;

			.entry-title h2 {
				color: #141414;
				font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-weight: normal;
				font-size: 3.3rem;
				line-height: 3.6rem;
				margin: 0 60px;
				text-align: center;
				text-decoration: none;

				a {
					color: #141414;
				}
			}
		}

		.asset-abstract {
			padding: 10px 60px;
		}

		.asset-content {
			margin: 0 0 -28px 0;
		}
		
		.asset-metadata {
			position: relative;
			bottom: 80px;
			left: 0;
			margin: 0 auto;

			span {
				display: inline-block;
				margin: 0 auto;
				text-align: center;
				width: 100%;
			}
		}

		.asset-title {
			a {
				color: #141414;

				&:hover {
					color: #4F4F4F;
				}
			}
		
			img {
				display: none;
			}
		}

/* -----All Together Carousel ----*/
		.carousel-item img {
			width: 1050px;
		}
		.carousel-content menu {
			background: none;
			position: absolute;
			right: 15px;
			bottom: -20px;
		}

		.carousel-menu-index {
			height: 18px;
			margin: 0 3px;
			width: 18px;
			background-color: #919191;
		}
		.carousel-menu-active {
			background-color: #474A4B;
		}

/* ------------------ */

		.entry-approved {
			padding-bottom: 45px;
		}

		.entry-author, .navbar {
			display: none;
		}

		.entry-body {
			margin: 0 auto;
			text-rendering: optimizeLegibility;
			max-width: 750px;
		}

		.entry-content {
			max-width: 750px;
			margin: 0 130px 60px;
			padding-top: 35px;
		}

		.entry-date, .metadata-entry, .metadata-publish-date, .metadata-modified-date {
			background: none;
			margin: 0 auto;
			padding: 20px 15px;
			text-align: center;
		}

		.entry-footer, .asset-metadata {
			text-align: center;
		}

		.entry-image img {
			display: block;
			opacity: 1;
			text-align: center;
			width: 100%;
			height: auto;
			z-index: 2;
		}

		.entry-title, {
			padding-top: 50px;
		}

		.entry-tags a, .metadata-entry, .tag {
			color: #C3C3C3;
			display: inline-block;
			font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-decoration: none;
		}

		.entry-tags a:hover, .metadata-entry a:hover, .tag a:hover {
			color: #AAA;
		}
		
		.lfr-menu-expanded {
			background-color: #FFF;
			border: none;
		}

		.quote-container, .standout-container {
			background-color: #4FA888;
			padding: 65px 0;

			.entry-content {
				color: #FFF;
				line-height: 4rem;

				.blockquote p {
					font-size: 2.3rem;
					font-style: italic;
					font-weight: 300px;
				}

				.blockquote cite {
					display: block;
					font-size: 1.5rem;
					font-style: italic;
					text-align: right;
				}

				.standout-post {
					font-size: 2.3rem;
					font-weight: 600px;
					text-align: center;

					a:hover {
						color: #FFF;
					}
				}
			}
		}

		.separator {
			display: none;
			margin: 0;
		}

		.text-only-content p {
			text-align: center;
		}

		.title-list {
			a {
				color: #141414;

				&:hover {
					color: #C3C3C3 ;
					text-decoration: none;
				}
			}

			img {
				display: none;
			}
		}
	}

	.portlet-topper, .portlet-title{
		background-color: #FEFEFE;
		margin: 0;
		font-size: 1rem;
		color: #919191;

		span img {
			display: none;
		}
	}

	.portlet-layout:nth-child(2) {
		background-color: #333;
		padding: 20px 0;

		a, a.selected {
			color: #C3C3C3;
			font-weight: normal;
			text-decoration: none;
		}

		a:hover, span:hover, {
			color: #FFF;
			text-decoration: none;
		}

		img {
			display: none;
		}

		.portlet-title {
			color: #FFF;
			padding: 0 20px;
		}

		.portlet-title, .portlet-content, .navigation, .portlet-borderless-content, .portlet-borderless-container {
			background-color: #333;
			border: none;

			li {
				clear: left;
				float: left;
				line-height: 2rem;
				list-style-position: outside;

				span a:hover {
					text-decoration: none;
				}
			}

			ul {
				list-style-type: none;
			}

			.asset-content, .asset-abstract, .asset-title, .title-list {
				margin: 0;
				padding: 0;
			}

			.nav-menu ul {
				text-indent: -35px;
			}

			.tag-list {
				text-indent: -22px;
			}
		}

		.portlet-content {
			padding: 0 20px;
		}

		.portlet-column-first {
			padding-left: 30px;
		}
	}

	#footer {
		margin-bottom: 20px;
		font-family: "Open Sans", Helvetica, sans-serif;
		color: #FCFCFC;

		.site-footer {
			background-color: #292929;
			height: 48px;
			text-align: right;
			padding-top: 36px;

			p a {
				margin-right: 15px;
				font-size: 1.1rem;
				color: #C3C3C3;


				&:hover {
					color: #FFF;
					text-decoration: none;
				}
			}
		}
	}
}

